@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

body{
    background-color: #080808;
    color: white;
}
html{
    scroll-behavior: smooth;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

.logo {
    width: 200px;
    animation: slideRight 1s ease forwards;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    text-decoration: none;
    margin: 10px 20px;
}

nav ul li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    /* animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s*var(--i)); */
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:crimson;
    left: 0;
    bottom: -5px;
    position: absolute;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    font-size: 40px;
}
.p-1{
    animation: slideBottom 1s ease forwards;
    /* animation-delay: 1s; */
}
.p-2{
    animation: slideTop 1s ease forwards;
    /* animation-delay: 1s; */
}

.header-text h1{
    font-size: 80px;
    animation: slideRight 1s ease forwards;
    /* animation-delay: calc(.2s*var(--i)); */
}
.header-text p span  {
    color: crimson;
}

/* ------------------------About----------------------- */

#about {
    padding: 45px 0;
    color: #f5f5f5;
}

    
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.about-col-1{
    flex-basis: 35%;
    
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 1rem crimson ;
}

.about-col-2{
    flex-basis: 60%;
    
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    position: relative;
}


.sub-title::after{   
    content: '';
    background: crimson;
    bottom: -1px;
    height: 5px;
    width:60%;
    left: 0;
    position: absolute;
}

.about-col-2 p{
    padding-top: 10px;
}

.tab-title{
    display: flex;
    margin: 15px 0;
}

.tab-links{
    margin-right: 50px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 5px;
    left: 0;
    bottom: -5px;
    background: crimson;
    position: absolute;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 60%;
}

.tab-content ul li{
    list-style: none;
    margin: 5px 0;
}
.tab-content ul li span{
    color: magenta;
    font-size: 14px;
}
.tab-content{
    display: none;
}
.active-tab{
    display: block;
}

/* ---------------------Projects----------------- */
#project{
    /* height: 100svh; */
    padding: 30px 0;
    border-bottom: 0px solid crimson;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    grid-gap: 40px;
    margin-top: 40px;
}
.project-list div{
    background: #262626;
    border-radius: 15px;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    /* box-shadow: -5px 5px 5px red,5px -5px 5px red; */
    transition: background 0.5s,transform 0.5s;
}
.project-list div i{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.project-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}   
.project-list div a i{
    margin-top: 20px;
    color: crimson;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
.project-list div:hover{
    background: crimson;
    transform: translateY(-10px);
}

/* -------------------Contact--------------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    padding-top: 30px;
}
.contact-left p i{
    margin-right: 15px;
    font-size: 30px;
    color: crimson;
}
.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
}
.btn{
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    border: 1px solid crimson;
    border-radius: 6px;
    margin: 30px auto;
    padding: 14px 30px;
    color: #fff;
    background: transparent;
    transition: background 0.5s;
}
.btn:hover{
    background-color: crimson;
    cursor: pointer;
}

.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    font-size: 18px;
    color: #fff;
    background: #353535;
    border: 0;
    outline: none;
    margin: 15px 0;
    padding: 10px;
    border-radius: 6px;

}
#msg {
    color: green;
    font-size: 18px;
    border: 2px solid green;
    border-radius: 5px;
    padding: 2px 15px;
    background: rgb(94, 170, 94);
    
    display: none;
}
form .btn{
    
    margin-top: 10px;
    padding: 14px 60px;
    font-size: 18px;
}

/* ------------------------------Key frame animations -------------------- */

@keyframes slideRight{
    0% {
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0);
    }  
}
@keyframes slideTop{
    0% {
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }  
}
@keyframes slideBottom{
    0% {
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }  
}
@keyframes slideLeft{
    0% {
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }  
}

/* ----------------------------Small Screen------------------ */

nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    #header{
        background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 25px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: crimson;
        width: 200px;
        position: fixed;
        top: 0;
        right: -200px;
        height: 100svh;
        padding-top: 50px;
        transition: right 0.5s;
    }
    nav ul li{
        margin: 25px;
        display: block;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .fa-solid{
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-2 p{
        font-size: 14px;
    }
    #about{
        border: 0;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
}
